In [ ]:
#pip install findspark

Collecting findspark
  Using cached findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Using cached findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [10]:
import findspark
findspark.init()
from pyspark.sql import functions as F

In [4]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
    .appName("Test_01")
    .config("spark.ui.port", "9311")
    .getOrCreate()
)

spark

25/12/09 11:59:10 WARN Utils: Your hostname, MacBook-Air-de-Irina.local resolves to a loopback address: 127.0.0.1; using 192.168.1.52 instead (on interface en0)
25/12/09 11:59:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/12/09 11:59:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/12/09 11:59:11 WARN Utils: Service 'SparkUI' could not bind on port 9311. Attempting port 9312.

In [6]:
df = spark.read.csv("Hotel.csv", header=True, inferSchema=True)
df.show()

+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+
|      ID|n_adults|n_children|weekend_nights|week_nights|   meal_plan|car_parking_space|  room_type|lead_time|year|month|date|market_segment|repeated_guest|previous_cancellations|previous_bookings_not_canceled|avg_room_price|special_requests|      status|
+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+
|INN00001|       2|         0|             1|          2| Meal Plan 1|                0|Room_Type 1|      224|2017|   10|   2|       Offline|             0|                     0|                             0|          65.0|               0|Not_Canceled|
|INN00002|       2|         0|             2|          3|Not Selected|                0|Room_Type 1|        5|2018|   11|   6|        Online|             0|                     0|                             0|        106.68|               1|Not_Canceled|
|INN00003|       1|         0|             2|          1| Meal Plan 1|                0|Room_Type 1|        1|2018|    2|  28|        Online|             0|                     0|                             0|          60.0|               0|    Canceled|
|INN00004|       2|         0|             0|          2| Meal Plan 1|                0|Room_Type 1|      211|2018|    5|  20|        Online|             0|                     0|                             0|         100.0|               0|    Canceled|
|INN00005|       2|         0|             1|          1|Not Selected|                0|Room_Type 1|       48|2018|    4|  11|        Online|             0|                     0|                             0|          94.5|               0|    Canceled|
|INN00006|       2|         0|             0|          2| Meal Plan 2|                0|Room_Type 1|      346|2018|    9|  13|        Online|             0|                     0|                             0|         115.0|               1|    Canceled|
|INN00007|       2|         0|             1|          3| Meal Plan 1|                0|Room_Type 1|       34|2017|   10|  15|        Online|             0|                     0|                             0|        107.55|               1|Not_Canceled|
|INN00008|       2|         0|             1|          3| Meal Plan 1|                0|Room_Type 4|       83|2018|   12|  26|        Online|             0|                     0|                             0|        105.61|               1|Not_Canceled|
|INN00009|       3|         0|             0|          4| Meal Plan 1|                0|Room_Type 1|      121|2018|    7|   6|       Offline|             0|                     0|                             0|          96.9|               1|Not_Canceled|
|INN00010|       2|         0|             0|          5| Meal Plan 1|                0|Room_Type 4|       44|2018|   10|  18|        Online|             0|                     0|                             0|        133.44|               3|Not_Canceled|
|INN00011|       1|         0|             1|          0|Not Selected|                0|Room_Type 1|        0|2018|    9|  11|        Online|             0|                     0|                             0|         85.03|               0|Not_Canceled|
|INN00012|       1|         0|             2|          1| Meal Plan 1|                0|Room_Type 4|       35|2018|    4|  30|        Online|             0|                     0|                             0|         140.4|               1|Not_Canceled|
|INN00013|       2|         0|             2|          1|Not Selected|                0|Room_Type 1|       30|2018|   11|  26|        Online|             0|                     0|                             0|          88.0|               0|    Canceled|
|INN00014|       1|         0|             2|          0| Meal Plan 1|                0|Room_Type 1|       95|2018|   11|  20|        Online|             0|                     0|                             0|          90.0|               2|    Canceled|
|INN00015|       2|         0|             0|          2| Meal Plan 1|                0|Room_Type 1|       47|2017|   10|  20|        Online|             0|                     0|                             0|          94.5|               2|Not_Canceled|
|INN00016|       2|         0|             0|          2| Meal Plan 2|                0|Room_Type 1|      256|2018|    6|  15|        Online|             0|                     0|                             0|         115.0|               1|    Canceled|
|INN00017|       1|         0|             1|          0| Meal Plan 1|                0|Room_Type 1|        0|2017|   10|   5|       Offline|             0|                     0|                             0|          96.0|               0|Not_Canceled|
|INN00018|       2|         0|             1|          3|Not Selected|                0|Room_Type 1|        1|2017|    8|  10|        Online|             0|                     0|                             0|          96.0|               1|Not_Canceled|
|INN00019|       2|         0|             2|          2| Meal Plan 1|                0|Room_Type 1|       99|2017|   10|  30|        Online|             0|                     0|                             0|          65.0|               0|    Canceled|
|INN00020|       2|         0|             1|          0| Meal Plan 1|                0|Room_Type 1|       12|2017|   10|   4|       Offline|             0|                     0|                             0|          72.0|               0|Not_Canceled|
+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+
only showing top 20 rows

In [7]:
spark.sql("""
    CREATE OR REPLACE TEMP VIEW calendar AS
    SELECT
        explode(sequence(
            to_date('2017-01-01'),
            to_date('2018-12-31'),
            interval 1 day
        )) AS calendar_dt
""")

DataFrame[]

In [8]:
spark.sql("SELECT * FROM calendar LIMIT 10").show()

+-----------+
|calendar_dt|
+-----------+
| 2017-01-01|
| 2017-01-02|
| 2017-01-03|
| 2017-01-04|
| 2017-01-05|
| 2017-01-06|
| 2017-01-07|
| 2017-01-08|
| 2017-01-09|
| 2017-01-10|
+-----------+

**1. Вычислить среднее количество ночей, которые гости проводят в отеле (только для подтвержденных бронирований, с детализацией по месяцам и годам)**

In [14]:
df.select("status").distinct().show(100)

+------------+
|      status|
+------------+
|Not_Canceled|
|    Canceled|
+------------+

In [16]:
result = (
    df.filter(F.col("status") == "Not_Canceled")
      .withColumn("total_nights", F.col("weekend_nights") + F.col("week_nights"))
      .groupBy("year", "month")
      .agg(F.round(F.avg("total_nights"), 2).alias("avg_nights"))
      .orderBy("year", "month")
)

result.show()

+----+-----+----------+
|year|month|avg_nights|
+----+-----+----------+
|2017|    7|      3.02|
|2017|    8|      2.72|
|2017|    9|      2.66|
|2017|   10|       2.7|
|2017|   11|      2.72|
|2017|   12|      3.04|
|2018|    1|      2.74|
|2018|    2|      2.69|
|2018|    3|      3.04|
|2018|    4|      2.92|
|2018|    5|      2.81|
|2018|    6|       2.6|
|2018|    7|      3.19|
|2018|    8|      3.15|
|2018|    9|      2.79|
|2018|   10|      2.89|
|2018|   11|      2.98|
|2018|   12|      3.25|
+----+-----+----------+

**2. Определить ТОП-3 месяца по проценту отмененных броней за 2018 год.**

In [19]:
result = (
    df.filter(F.col("year") == 2018)
      .groupBy("month")
      .agg(
          F.sum(F.when(F.col("status") == "Canceled", 1).otherwise(0)).alias("canceled_count"),
          F.count("*").alias("total_count")
      )
      .withColumn("cancel_percent", F.round(F.col("canceled_count") / F.col("total_count") * 100, 2))
      .orderBy(F.col("cancel_percent").desc())
      .limit(3)
)

result.show()

+-----+--------------+-----------+--------------+
|month|canceled_count|total_count|cancel_percent|
+-----+--------------+-----------+--------------+
|    8|          1303|       2799|         46.55|
|   10|          1578|       3404|         46.36|
|    9|          1356|       2962|         45.78|
+-----+--------------+-----------+--------------+

**3. Вычислить среднее время на каждый месяц между бронированием и заездом в отель для подтвержденных броней.**

In [20]:
result = (
    df.filter(F.col("status") == "Not_Canceled")
      .groupBy("year", "month")
      .agg(F.round(F.avg("lead_time"), 2).alias("avg_lead_time"))
      .orderBy("year", "month")
)

result.show()

+----+-----+-------------+
|year|month|avg_lead_time|
+----+-----+-------------+
|2017|    7|       130.73|
|2017|    8|        35.08|
|2017|    9|        51.72|
|2017|   10|        55.89|
|2017|   11|        33.28|
|2017|   12|        46.75|
|2018|    1|        34.87|
|2018|    2|        30.53|
|2018|    3|        43.19|
|2018|    4|        62.49|
|2018|    5|        60.99|
|2018|    6|        70.64|
|2018|    7|        86.88|
|2018|    8|        83.09|
|2018|    9|        63.32|
|2018|   10|        73.24|
|2018|   11|        44.25|
|2018|   12|        69.75|
+----+-----+-------------+

**4. Вычислить общую среднюю выручку на каждый месяц в каждом году, сгруппировав по всем типам бронирования для подтвержденных броней, и вывести это в виде сводной таблицы (PIVOT).**

In [23]:
df2 = (
    df.filter(F.col("status") == "Not_Canceled")
      .withColumn("total_nights", F.col("weekend_nights") + F.col("week_nights"))
      .withColumn("revenue", F.col("avg_room_price") * F.col("total_nights"))
)
df2.show()

+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+------------+------------------+
|      ID|n_adults|n_children|weekend_nights|week_nights|   meal_plan|car_parking_space|  room_type|lead_time|year|month|date|market_segment|repeated_guest|previous_cancellations|previous_bookings_not_canceled|avg_room_price|special_requests|      status|total_nights|           revenue|
+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+------------+------------------+
|INN00001|       2|         0|             1|          2| Meal Plan 1|                0|Room_Type 1|      224|2017|   10|   2|       Offline|             0|                     0|                             0|          65.0|               0|Not_Canceled|           3|             195.0|
|INN00002|       2|         0|             2|          3|Not Selected|                0|Room_Type 1|        5|2018|   11|   6|        Online|             0|                     0|                             0|        106.68|               1|Not_Canceled|           5| 533.4000000000001|
|INN00007|       2|         0|             1|          3| Meal Plan 1|                0|Room_Type 1|       34|2017|   10|  15|        Online|             0|                     0|                             0|        107.55|               1|Not_Canceled|           4|             430.2|
|INN00008|       2|         0|             1|          3| Meal Plan 1|                0|Room_Type 4|       83|2018|   12|  26|        Online|             0|                     0|                             0|        105.61|               1|Not_Canceled|           4|            422.44|
|INN00009|       3|         0|             0|          4| Meal Plan 1|                0|Room_Type 1|      121|2018|    7|   6|       Offline|             0|                     0|                             0|          96.9|               1|Not_Canceled|           4|             387.6|
|INN00010|       2|         0|             0|          5| Meal Plan 1|                0|Room_Type 4|       44|2018|   10|  18|        Online|             0|                     0|                             0|        133.44|               3|Not_Canceled|           5|             667.2|
|INN00011|       1|         0|             1|          0|Not Selected|                0|Room_Type 1|        0|2018|    9|  11|        Online|             0|                     0|                             0|         85.03|               0|Not_Canceled|           1|             85.03|
|INN00012|       1|         0|             2|          1| Meal Plan 1|                0|Room_Type 4|       35|2018|    4|  30|        Online|             0|                     0|                             0|         140.4|               1|Not_Canceled|           3|421.20000000000005|
|INN00015|       2|         0|             0|          2| Meal Plan 1|                0|Room_Type 1|       47|2017|   10|  20|        Online|             0|                     0|                             0|          94.5|               2|Not_Canceled|           2|             189.0|
|INN00017|       1|         0|             1|          0| Meal Plan 1|                0|Room_Type 1|        0|2017|   10|   5|       Offline|             0|                     0|                             0|          96.0|               0|Not_Canceled|           1|              96.0|
|INN00018|       2|         0|             1|          3|Not Selected|                0|Room_Type 1|        1|2017|    8|  10|        Online|             0|                     0|                             0|          96.0|               1|Not_Canceled|           4|             384.0|
|INN00020|       2|         0|             1|          0| Meal Plan 1|                0|Room_Type 1|       12|2017|   10|   4|       Offline|             0|                     0|                             0|          72.0|               0|Not_Canceled|           1|              72.0|
|INN00022|       1|         0|             0|          1| Meal Plan 1|                0|Room_Type 1|      122|2018|   11|  25|     Corporate|             0|                     0|                             0|          67.0|               0|Not_Canceled|           1|              67.0|
|INN00023|       2|         0|             2|          4| Meal Plan 1|                0|Room_Type 1|        2|2018|    3|  20|       Offline|             0|                     0|                             0|          85.0|               0|Not_Canceled|           6|             510.0|
|INN00024|       2|         0|             0|          3| Meal Plan 1|                0|Room_Type 1|       37|2018|   10|  13|       Offline|             0|                     0|                             0|         105.0|               0|Not_Canceled|           3|             315.0|
|INN00025|       2|         0|             2|          1|Not Selected|                0|Room_Type 1|      130|2018|    5|  22|        Online|             0|                     0|                             0|          94.5|               1|Not_Canceled|           3|             283.5|
|INN00026|       2|         0|             0|          2| Meal Plan 1|                0|Room_Type 1|       99|2018|    4|  28|        Online|             0|                     0|                             0|         114.3|               1|Not_Canceled|           2|             228.6|
|INN00027|       2|         0|             1|          1| Meal Plan 1|                0|Room_Type 1|       60|2017|    9|  21|       Offline|             0|                     0|                             0|          65.0|               0|Not_Canceled|           2|             130.0|
|INN00030|       2|         0|             0|          2| Meal Plan 2|                0|Room_Type 1|       56|2017|    9|  17|       Offline|             0|                     0|                             0|          82.0|               0|Not_Canceled|           2|             164.0|
|INN00031|       2|         0|             1|          1| Meal Plan 1|                0|Room_Type 4|        3|2017|    9|  19|        Online|             0|                     0|                             0|         177.5|               1|Not_Canceled|           2|             355.0|
+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+------------+------------------+
only showing top 20 rows

In [25]:
pivot_df = (
    df2.groupBy("year", "month")
       .pivot("market_segment")
       .agg(F.round(F.avg("revenue"), 2))
       .orderBy("year", "month")
)

pivot_df.show()

+----+-----+--------+-------------+---------+-------+------+
|year|month|Aviation|Complementary|Corporate|Offline|Online|
+----+-----+--------+-------------+---------+-------+------+
|2017|    7|    NULL|         22.4|   113.75| 228.95|290.56|
|2017|    8|    NULL|         0.32|   156.42| 235.54|284.21|
|2017|    9|    NULL|        16.89|   177.83| 236.65|348.55|
|2017|   10|    NULL|         1.09|   180.26| 223.24|311.47|
|2017|   11|    NULL|        14.81|   102.97| 198.36|240.52|
|2017|   12|    NULL|         0.25|   141.11| 253.86|258.93|
|2018|    1|    NULL|         2.27|   113.03| 210.51|236.09|
|2018|    2|   352.0|         1.39|   115.06| 251.85|238.07|
|2018|    3|  118.33|        38.17|   142.39| 233.39|301.71|
|2018|    4|  321.81|          0.0|   108.42| 236.44|320.08|
|2018|    5|   262.5|          0.0|    229.5| 274.55|352.34|
|2018|    6|   247.0|          0.0|   148.13| 251.98|335.03|
|2018|    7|    79.0|         5.38|   146.99| 310.36|390.05|
|2018|    8|    NULL|          0.0|   206.75| 318.36|391.22|
|2018|    9|  361.67|        21.92|   201.12|  319.4|367.61|
|2018|   10|  313.04|         0.26|   145.33| 276.64|358.81|
|2018|   11|  159.75|         8.39|    153.9| 226.33|332.04|
|2018|   12|    NULL|          4.0|   138.07| 254.97|349.46|
+----+-----+--------+-------------+---------+-------+------+

**5. Выявить ТОП-5 постоянных гостей, которые принесли наибольшую выручку за все время, и показать их долю в общей выручке от постоянных гостей. Использовать уникальный идентификатор брони как уникальный идентификатор гостя, предположив, что 1 бронь = 1 гость.**

Фильтруем постоянных гостей и считаем выручку

In [32]:
df_revenue = (
    df.filter(F.col("repeated_guest") == 1)
      .withColumn("total_nights", F.col("weekend_nights") + F.col("week_nights"))
      .withColumn("revenue", F.col("avg_room_price") * F.col("total_nights"))
)
df_revenue.show(5)

+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+------------+-------+
|      ID|n_adults|n_children|weekend_nights|week_nights|   meal_plan|car_parking_space|  room_type|lead_time|year|month|date|market_segment|repeated_guest|previous_cancellations|previous_bookings_not_canceled|avg_room_price|special_requests|      status|total_nights|revenue|
+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+------------+-------+
|INN00089|       2|         0|             0|          1|Not Selected|                0|Room_Type 1|       17|2018|   12|  10|        Online|             1|                     0|                             5|          95.0|               0|Not_Canceled|           1|   95.0|
|INN00146|       1|         0|             0|          2| Meal Plan 1|                0|Room_Type 1|       13|2018|    6|   1| Complementary|             1|                     3|                             5|           0.0|               1|Not_Canceled|           2|    0.0|
|INN00156|       1|         0|             0|          3| Meal Plan 1|                0|Room_Type 1|        4|2018|   11|   1|     Corporate|             1|                     1|                             5|          65.0|               1|Not_Canceled|           3|  195.0|
|INN00267|       1|         0|             0|          2| Meal Plan 1|                0|Room_Type 1|        1|2017|    8|  12| Complementary|             1|                     0|                             1|           0.0|               1|Not_Canceled|           2|    0.0|
|INN00289|       2|         0|             0|          1| Meal Plan 1|                0|Room_Type 2|        9|2018|    9|   7| Complementary|             1|                     0|                             3|           0.0|               1|Not_Canceled|           1|    0.0|
+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+------------+-------+
only showing top 5 rows

Считаем суммарную выручку на каждого гостя

In [33]:
guest_revenue = (
    df_revenue.groupBy("ID")
              .agg(F.sum("revenue").alias("total_revenue"))
)
guest_revenue.show(5)

+--------+-------------+
|      ID|total_revenue|
+--------+-------------+
|INN00606|        130.0|
|INN03841|         55.6|
|INN07524|        201.0|
|INN15032|        195.0|
|INN23331|         66.0|
+--------+-------------+
only showing top 5 rows

 Находим ТОП-5 гостей

In [28]:
top5 = guest_revenue.orderBy(F.col("total_revenue").desc()).limit(5)
top5.show()

+--------+------------------+
|      ID|     total_revenue|
+--------+------------------+
|INN19235|1754.3999999999999|
|INN05222|             690.0|
|INN14189|             665.0|
|INN09923|             660.0|
|INN25479|             650.0|
+--------+------------------+

Считаем общую выручку всех постоянных гостей

In [30]:
total_revenue_all = guest_revenue.agg(F.sum("total_revenue").alias("total")).first()["total"]
total_revenue_all

116004.47999999997

Добавляем долю каждого из ТОП-5 гостей

In [31]:
top5_with_share = (
    top5.withColumn("share_percent", F.round(F.col("total_revenue") / total_revenue_all * 100, 2))
)

top5_with_share.show()

+--------+------------------+-------------+
|      ID|     total_revenue|share_percent|
+--------+------------------+-------------+
|INN19235|1754.3999999999999|         1.51|
|INN05222|             690.0|         0.59|
|INN14189|             665.0|         0.57|
|INN09923|             660.0|         0.57|
|INN25479|             650.0|         0.56|
+--------+------------------+-------------+

**6.Вывести общее количество гостей на каждый день в отеле, отсортировав по убыванию дат, включая дни, когда отель пустует. Также рассчитать процент загрузки для каждого дня, если известно, что общая вместимость отеля 400 человек.**

Создаём поле даты прибытия и даты выезда

In [36]:
df2 = (
    df.withColumn("arrival_date",
                  F.to_date(F.concat_ws("-", "year", "month", "date")))
      .withColumn("stay_nights",
                  F.col("weekend_nights") + F.col("week_nights"))
      .withColumn("departure_date",
                  F.expr("date_add(arrival_date, stay_nights)"))
)
df2.show(5)

+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+------------+-----------+--------------+
|      ID|n_adults|n_children|weekend_nights|week_nights|   meal_plan|car_parking_space|  room_type|lead_time|year|month|date|market_segment|repeated_guest|previous_cancellations|previous_bookings_not_canceled|avg_room_price|special_requests|      status|arrival_date|stay_nights|departure_date|
+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+------------+-----------+--------------+
|INN00001|       2|         0|             1|          2| Meal Plan 1|                0|Room_Type 1|      224|2017|   10|   2|       Offline|             0|                     0|                             0|          65.0|               0|Not_Canceled|  2017-10-02|          3|    2017-10-05|
|INN00002|       2|         0|             2|          3|Not Selected|                0|Room_Type 1|        5|2018|   11|   6|        Online|             0|                     0|                             0|        106.68|               1|Not_Canceled|  2018-11-06|          5|    2018-11-11|
|INN00003|       1|         0|             2|          1| Meal Plan 1|                0|Room_Type 1|        1|2018|    2|  28|        Online|             0|                     0|                             0|          60.0|               0|    Canceled|  2018-02-28|          3|    2018-03-03|
|INN00004|       2|         0|             0|          2| Meal Plan 1|                0|Room_Type 1|      211|2018|    5|  20|        Online|             0|                     0|                             0|         100.0|               0|    Canceled|  2018-05-20|          2|    2018-05-22|
|INN00005|       2|         0|             1|          1|Not Selected|                0|Room_Type 1|       48|2018|    4|  11|        Online|             0|                     0|                             0|          94.5|               0|    Canceled|  2018-04-11|          2|    2018-04-13|
+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+------------+-----------+--------------+
only showing top 5 rows

Джойним с календарем. Вьюху нужно перевести в датафрейм.

In [42]:
calendar_df = spark.table("calendar")

stay_df = (
    df2.join(
        calendar_df,
        (F.col("calendar_dt") >= F.col("arrival_date")) &
        (F.col("calendar_dt") < F.col("departure_date")),
        "left"
    )
)

stay_df.show(5)

+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+------------+-----------+--------------+-----------+
|      ID|n_adults|n_children|weekend_nights|week_nights|   meal_plan|car_parking_space|  room_type|lead_time|year|month|date|market_segment|repeated_guest|previous_cancellations|previous_bookings_not_canceled|avg_room_price|special_requests|      status|arrival_date|stay_nights|departure_date|calendar_dt|
+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+------------+-----------+--------------+-----------+
|INN00001|       2|         0|             1|          2| Meal Plan 1|                0|Room_Type 1|      224|2017|   10|   2|       Offline|             0|                     0|                             0|          65.0|               0|Not_Canceled|  2017-10-02|          3|    2017-10-05| 2017-10-02|
|INN00001|       2|         0|             1|          2| Meal Plan 1|                0|Room_Type 1|      224|2017|   10|   2|       Offline|             0|                     0|                             0|          65.0|               0|Not_Canceled|  2017-10-02|          3|    2017-10-05| 2017-10-03|
|INN00001|       2|         0|             1|          2| Meal Plan 1|                0|Room_Type 1|      224|2017|   10|   2|       Offline|             0|                     0|                             0|          65.0|               0|Not_Canceled|  2017-10-02|          3|    2017-10-05| 2017-10-04|
|INN00002|       2|         0|             2|          3|Not Selected|                0|Room_Type 1|        5|2018|   11|   6|        Online|             0|                     0|                             0|        106.68|               1|Not_Canceled|  2018-11-06|          5|    2018-11-11| 2018-11-06|
|INN00002|       2|         0|             2|          3|Not Selected|                0|Room_Type 1|        5|2018|   11|   6|        Online|             0|                     0|                             0|        106.68|               1|Not_Canceled|  2018-11-06|          5|    2018-11-11| 2018-11-07|
+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+------------+-----------+--------------+-----------+
only showing top 5 rows

Считаем гостей по каждому дню и добавляем % загрузки

In [50]:
daily_guests = (
    stay_df.groupBy("calendar_dt")
           .agg(F.count("*").alias("guest_count"))
           .withColumn("occupancy_percent", F.round(F.col("guest_count") / 400 * 100, 2))
           .orderBy(F.col("calendar_dt").desc())
)
daily_guests.show()

+-----------+-----------+-----------------+
|calendar_dt|guest_count|occupancy_percent|
+-----------+-----------+-----------------+
| 2018-12-31|        365|            91.25|
| 2018-12-30|        375|            93.75|
| 2018-12-29|        377|            94.25|
| 2018-12-28|        342|             85.5|
| 2018-12-27|        344|             86.0|
| 2018-12-26|        263|            65.75|
| 2018-12-25|        216|             54.0|
| 2018-12-24|        201|            50.25|
| 2018-12-23|        180|             45.0|
| 2018-12-22|        157|            39.25|
| 2018-12-21|        148|             37.0|
| 2018-12-20|        145|            36.25|
| 2018-12-19|        144|             36.0|
| 2018-12-18|        160|             40.0|
| 2018-12-17|        172|             43.0|
| 2018-12-16|        168|             42.0|
| 2018-12-15|        109|            27.25|
| 2018-12-14|        102|             25.5|
| 2018-12-13|        102|             25.5|
| 2018-12-12|        109|            27.25|
+-----------+-----------+-----------------+
only showing top 20 rows